<app-header></app-header>
<div class="base">
    <h4>Discover Us</h4>
    <p>There is something about a live performance that you just cannot replicate anywhere else. <br>
    Live streaming has been wonderful but it's just not same as sitting there and experiencing
    that electricity,<br> with a group of other people that you don't even know and all being brought together.</p>
</div>
<div class="base2">
    <div class="items">
        <img src="../../../assets/Images/main.png" class="main" />
    <div class="divide"></div>
    <div class="footer">
        <p>© steamOnline-2022</p>
    </div>  
    </div>  
</div>
