<div class="main">
  <div class="wrapper">
      <div class="card" (click)="VideoDetails(video)"  *ngFor="let video of videoData">
          <img src="http://localhost:3000/{{video.video}}" alt="" />
          <!-- <video src="http://localhost:3000/{{video.video}}" controls></video> -->
          <div class="descriptions">
              <h1>{{video.title}}</h1>
              <p>{{video.desc}}</p>
              <h6>Rating</h6>
              <button (click)="VideoDetails(video)">
                  Watch
              </button>
          </div>
      </div> 
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/Images/fast.jpg" alt="">
        <div class="descriptions">
            <h1>John Wick 3</h1>
            <p>
                After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
            </p>
            <h6>Rating</h6>
            <button>
                Watch
            </button>
        </div>
      </div>                              
  </div>
</div>





